body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.form-container {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    height: 600px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-container h2 {
    margin-top: 0;
}
.form-container label {
    display: block;
    margin-bottom: 8px;
}
.form-container input, .form-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-container .percentage-fields {
    display: flex;
    flex-direction: column;
}
.form-container .percentage-fields div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-container .percentage-fields input {
    width: 40%;
}
.form-container .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.form-container .button-container button {
    width: 120px;
    padding: 10px;
    background-color: #f27505;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.form-container .button-container .prev-btn {
    background-color: #bae8ff;
}
.form-container .button-container button:hover {
    opacity: 0.9;
}
.step {
    display: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.step.active {
    display: flex;
}
.info-icon {
    font-size: 14px;
    color: #555;
    cursor: pointer;
    position: relative;
}
.info-icon:hover::after {
    content: attr(title);
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 10;
}
.warning-message {
    color: red;
    margin-bottom: 20px;
    display: none;
}
